@model IEnumerable<ZorroASP.Models.Run>

@{
    ViewBag.Title = "My Trail Runs";
}

<div id="indextable" class="container col-lg-10 col-sm-12 mt-4">
    <h2>Your Past Trail Runs</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Distance</th>
            <th>Elevation Gain</th>
            <th>Avg Pace</th>
            <th>Avg Heart Rate</th>
            <th>Run Type</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var run in Model)
            {
                <tr>
                <td><a class="id" href=/Run/ViewRun/@run.Id>@run.Id</a></td>
                    <td>@run.Date.ToShortDateString()</td>
                    <td>@run.Distance mi</td>
                    <td>@run.ElevationGain ft</td>
                    <td>@run.AvgPace min/mi</td>
                    <td>@run.AvgHeartRate bpm</td>
                    <td>@run.RunType</td>
                    <td>@run.Location</td>
                    <td>
                        @Html.ActionLink("Edit", "UpdateRun", new { id = run.Id },new { @class = "btn btn-secondary btn-sm btn-block mt-2", onclick = "return confirm('Are you sure you want to edit this run?');"})
                        @Html.ActionLink("Delete", "DeleteRun", new { id = run.Id },new { @class = "btn btn-danger btn-sm btn-block mt-2", onclick = "return confirm('Are you sure you want to delete this run?');"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>