@model Run

<div class="container">
    @{
        ViewBag.Title = "Edit Run";
    }

    <h2>Edit @Model.RunType Run #@Model.Id</h2>

    @using (Html.BeginForm("UpdateRun", "Run", "Post"))
    {
        <input asp-for="Id" type="hidden" value="@Model.Id" />
        
        <label asp-for="Date" class="control-label">Change Date:</label> <span asp-validation-for="Date" class="text-danger"></span>
        <input type="date" name="Date" class="form-control" value="@Model.Date" />
        
        <label asp-for="ElevationGain" class="control-label">Adjust Elevation:</label>    
        <input type="number" step="1" name="ElevationGain" class="form-control" value="@Model.ElevationGain" />
        
        <label asp-for="Location" class="control-label">Change Location:</label>
        <input type="text" name="Location" class="form-control" value="@Model.Location" />
        
        <label asp-for="Distance" class="control-label">Adjust Distance:</label>    
        <input type="number" step="0.01" name="Distance" class="form-control" value="@Model.Distance" />
        
        <label asp-for="AvgHeartRate" class="control-label">Adjust Avg Heart Rate:</label>    
        <input type="number" step="1" name="HeartRate" class="form-control" value="@Model.AvgHeartRate" />
        
        <label asp-for="RunType" class="control-label">Change Run Type:</label>
        <input type="text" name="RunType" class="form-control" value="@Model.RunType" />
        
        <button type="submit" value="UpdateRun" class="btn btn-primary">Save Changes</button>
        @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn btn-secondary cnclbtn" })
    }
    
</div>